* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
    gap: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.box-1 {
    animation: move1 1s linear infinite;
}

.box-2 {
    animation: move2 1s linear infinite;

}

@keyframes move1 {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-50px);
    }

   
}

@keyframes move2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
  
}